

#Tripnumber {
    position: absolute;
    top: 10px;
    left: 375px;
}

#DriverID {
    position: absolute;
    top: 10px;
    left: 425px;
}

#SpeedLimit {
    position: absolute;
    top: 200px;
    left: 600px;
}

#SpeedLimit_l {
    position: absolute;
    top: 200px;
    left: 620px;
}

#InstantSpeed_CAN {
    position: absolute;
    top: 215px;
    left: 600px;
}

#InstantSpeed_CAN_l {
    position: absolute;
    top: 215px;
    left: 620px;
}

#CumFuel {
    position: absolute;
    top: 230px;
    left: 600px;
}

#CumFuel_l {
    position: absolute;
    top: 230px;
    left: 620px;
}

#Accel_Position {
    position: absolute;
    top: 245px;
    left: 600px;
}

#Accel_Position_l {
    position: absolute;
    top: 245px;
    left: 620px;
}

#Distance_cum {
    position: absolute;
    top: 260px;
    left: 600px;
}

#Distance_cum_l {
    position: absolute;
    top: 260px;
    left: 620px;
}

#OverSpeed {
    position: absolute;
    top: 275px;
    left: 600px;
}

#OverSpeed_l {
    position: absolute;
    top: 275px;
    left: 620px;
}

#smoothed_Acceleration_MM {
    position: absolute;
    top: 290px;
    left: 600px;
}

#smoothed_Acceleration_MM_l {
    position: absolute;
    top: 290px;
    left: 620px;
}

#smoothed_Jerk_MM {
    position: absolute;
    top: 305px;
    left: 600px;
}

#smoothed_Jerk_MM_l {
    position: absolute;
    top: 305px;
    left: 620px;
}

#B_master {
    position: absolute;
    top: 325px;
    left: 600px;
}
