
#Tripnumber {
    position: absolute;
    top: 10px;
    left: 375px;
}
#DriverID {
    position: absolute;
    top: 10px;
    left: 425px;
}
#SystemType {
    position: absolute;
    top: 10px;
    left: 475px;
}
#bV {
    position: absolute;
    top: 10px;
    left: 525px;
}﻿


